*{
    box-sizing: border-box;
}

.box{
    width: 600px;
    height: 170px;
    background-image: linear-gradient(to top,orange,red);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box span{
    font-size: 36px;
    color : white ;
    font-weight: 600;
    transition: transform 0.4s ease-in-out;
}

.box #test1{
    transition: transform 0.4s ease-in-out;
}

.box #test2{
    transition: transform 0.4s ease-in-out 0.1s;
}
.box #test3{
    transition: transform 0.4s ease-in-out 0.2s;
}
.box #test4{
    transition: transform 0.4s ease-in-out 0.3s;
}


.box:hover span{
    transform: translateY(-20px);
}