.button{
    width: 190px;
    background-color: #123ecf ;
    border-radius: 10px;
    transition: width 0.3s ease-in-out 0.5s,
        color 0.3s ease-in-out;
}

.button:hover{
    background-color: #002398;
    width: 240px;
    transform: scale(0.75 1.2);

}