*{
    box-sizing: border-box;
}

.container{
    background-color: red;
    padding: 30px;
    
}

.contents{
    color: white;
}

.contents::after{
    content: "저는 PC입니다.";
    
}

/* PC기본 설정 */

@media screen and (max-width:767px) {
    .container{
        background-color: blue;
    }

    .container::after{
        content: "저는 모바일입니다.";
        color: white;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .container{
        background-color: green;
    }
    .container::after{
        content: "저는 테블릿입니다..";
    }
}